<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/pastex.min.css">
    <title>分享代码 - Paste v2</title>
</head>

<body>
    <div class="c">
        <h1>Paste X <small>v2</small></h1>
       <div class="row">未找到。可能地址错误，或者已经过期、销毁。</div>

        <div class="row mb3 mt3">
            <a class="btn primary" href="/">返回首页</a>
        </div>
        <i>Developed by <u>Pluveto</u></i>
    </div>
</body>
<script src="/assets/js/pastex.min.js"></script>

</html>
